/*Mobile  */

img {
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 30px;
}

.container {
  width: 30%;
  margin: 5px;
  padding: 15px;
  border: 2px solid black;
}

@media (min-width: 550px) {
  body {
    background-color: violet;
    display: flex;
  }
  header {
    height: 50%;
  }
}

@media (max-width: 2160px) {
  body {
    background-color: yellow;
    display: flex;
  }
  header {
    height: 70%;
  }
}
